
/*html,
body {

font-family: IRANSans !important;

}*/

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}


.login_area {
    margin-top: 0;
}

div.logged-in {
    margin: 20px 0px 4px;
    text-align: center;
}
.footer{
    text-align: center;
    direction: ltr;
    margin-top: 7px;
    padding-bottom: 7px;
}
p.p-footer {
    margin: 8px;
    cursor: default;
    color: #000;

   }


.p-footer:hover {
    color: #f01e1e;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}


ul.uk-thumbnav.tumb{
    margin-bottom: 12px;
}

.img-tumb{
    width: 80px;
    height: 70px;

}


.like-icon{

    cursor: default;
}

.like-icon:hover {
    color: #f01e1e;
    transition: color 0.5s ease-in-out;
}


@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}
.blink:hover{
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}
.poem{
    font-size: 16px;
    margin-right: 4px;
}
#poem2 {
    /*position: absolute;*/
    /*margin-right: 15%;*/
}
.poems {
    /*margin-right: 2px;*/
    margin: 5px 4px 5px 0px;
}
.poem-container {
    margin: 0px;
    border: dashed 1px;
}
h4 {
    margin: 0px 0px 10px 0px; 
}
.line1 {
    margin: 5px 0px 2px 0px;
}
.my-link {
    font-size: 12px;
}
.margin-bottom {
    margin-bottom: 5px;
}